/*.App {
  
}
*/

/* Button Class Styling */

.btn {
  padding: 10px 20px;
  margin: 10px;
}

.product-btn {
  padding: 10px 20px;
  display: inline;
}









/* styling for pos container divs */

.pos-container {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
  grid-template-rows: repeat(7 , 1fr);
  background: blue;
}


.transaction-display{
  background-color: brown;
  grid-column: 1 / span 2;
  grid-row: 1 / span 6;
}

.category-container{
  background-color: crimson;
  grid-column: 3/ span 1;
  grid-row: 1 / span 6;

}

.product-container{
  background-color: darkgreen;
  grid-column: 4/ span 3;
  grid-row: 1 / span 6;
}


.mod-button-container{
  background-color: yellow;
  grid-column: 1 / span 6;
  grid-row: 7 / span 1;
}



/* Styling for the Admin Page */

.admin-header {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;

}

.admin-options {
  grid-column: 1/ span 3;
  grid-row: 2 / span 6;
  background-color: azure;
}

.admin-options h3 {
  text-align: center;
}

.admin-view{
  grid-column: 4/ span 3;
  grid-row: 2/ span 6;
  background-color: brown;
}


/* Add User Form Styling */

.new-user{

}

.new-user span{
  display: block;
}